
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-inter: "Inter", sans-serif;

$black: #010101;
$white: #ffffff;
$red: #D40000;
$grey: #F3F2F0;

$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_sm: 576px;
$r_tab_md: 768px;
$r_desk_lg: 992px;
$r_desk_xl: 1200px;
$r_desk_xxl: 1400px;
$r_desk_1600: 1600px;

$bg_1: calc(60px + (106 - 60)*((100vw - 360px)/(576 - 360)));

html {
    font-size: 10px;
    scroll-behavior: smooth;
@media (max-width: $r_mob_sm) {
    font-size: calc(((100vw - 360px)/(576 - 360)) * (10 - 7.5) + 7.5px);
}
}

body {
    max-width: 1920px;
    font-family: $font-inter;
    font-size: 1.6rem;
    color: $black;
    background-color: $grey;
    overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}  /*
.block {
    display: block;
}  */
.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_desk_xl) {
        max-width: 960px;
    }
    @media (max-width: $r_desk_lg) {
        max-width: 720px;
    }
    @media (max-width: $r_tab_md) {
        max-width: 540px;
    }
    @media (max-width: $r_mob_sm) {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
}
.wrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
}
.title {
     font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $black;
    margin: 0;
}
h2 {
    font-size: 7.4rem;
    @media (max-width: $r_desk_lg) {
        font-size: 6.4rem;
    }
    @media (max-width: $r_tab_md) {
        font-size: 4.8rem;
    }
    @media (max-width: $r_mob_sm) {
        font-size: 3.74rem;
    }
    @media (max-width: $r_mob_360) {
        font-size: 28px;
    }  
}
h3 {
    font-size: 2.8rem;
    line-height: 150%;
    @media (max-width: $r_mob_sm) {
        font-size: 2.13rem;
    }
    @media (max-width: $r_mob_360) {
        font-size: 16px;
    }  
}
h4 {
    font-size: 1.6rem;
    line-height: 150%;
}
h5 {
    font-size: 1rem;
    line-height: 150%;
}
.text {
    font-weight: 400;
    line-height: 150%;
    color: $black;
    opacity: 0.8;
    margin: 0;
}
.text-10 {
    font-size: 1rem;
}
.text-12 {
    font-size: 1.2rem;
    @media (max-width: $r_mob_sm) {
        font-size: 1.33rem;
    }
}
.text-14 {
    font-size: 1.4rem;
    @media (max-width: $r_mob_sm) {
        font-size: 1.55rem;
    }
    @media (max-width: $r_mob_360) {
        font-size: 12px;
    }
}
.text-16 {
    font-size: 1.6rem;
}
.text-28 {
    font-size: 2.8rem;
    @media (max-width: $r_mob_sm) {
        font-size: 2.13rem;
    }
}
.line_horizontal {
    width: 100%;
    border: 1px solid $black;
}

.header {
    &__wrapper {
        min-height: 24px;
        margin: 26px 0 47px;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_mob_360) {
            margin: 18px 0 39px;
        }
   }
   &__navigation {
        @media (max-width: $r_tab_md) {
                display: none;
            }
   }
    &__menu {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 28px;
        @media (max-width: $r_desk_lg) {
            gap: 12px;
        }
        &__item a {
            font-size: 1.4rem;
            text-decoration: none;
            color: $black;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover {
                color: $red;
            }
        }
    }
    &__information {
        width: 285px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_desk_lg) {
            width: 275px;
        }
        @media (max-width: $r_tab_md) {
            order: 1;
        }
        & a {
            font-size: 14px;
            text-decoration: none;
            color: $black;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover {
                color: $red;
            }
            @media (max-width: $r_mob_360) {
                font-size: 14px;
            }
        }
    }
    &__tel {
        @media (max-width: $r_tab_md) {
            justify-content: start;
        }
    }
    &__post {
        @media (max-width: $r_tab_md) {
            display: none;
        }
    }
    &__line {
        width: 1px;
        height: 24px;
        background-color: $black;
        opacity: 0.2;
        @media (max-width: $r_tab_md) {
            display: none;
        }
    }
}
.header-menu {
    position: relative;
    width: 26px;
    height: 20px;
    cursor: pointer;
    display: none;
    @media (max-width: $r_tab_md) {
        display: block;
        order: 2;
        z-index: 50;
    }
    & span {
        position: absolute;
        width: 100%;
        border: 1px solid $black;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}  
    & span::after, & span::before {
        content: "";
        position: absolute;
        border: 1px solid $black;
        width: 100%;
        left: 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    & span::before {
        top: 9px;
    }
    & span::after {
        bottom: 9px;
    }  
}
#menu:checked {
    & + .main__header .header__wrapper {
        flex-direction: column;
        margin-bottom: 10px;
        & .header-menu {
            order: 0;
            align-self: end;
        }
       & .header-menu span {
        border: 1px solid transparent;
            &::before {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                top: 0;
                bottom: 0;
            }
            &::after {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                top: 0;
                bottom: 0;
            }
        }
        & .header__navigation {
            display: block;
            & .header__menu {
                flex-direction: column;
                align-items: center;
            }
        }
        & .header__post, .header__line {
            display: flex;
        }
    }
    & ~ .central {
        background: none;
    }
    & ~ .central .central__container {
        background: none;
    }
    & ~ .central .central__image {
        display: none;
    }
    & ~ .central .central__content {
        display: none;
    }
    & ~ .central .central__inner {
        justify-content: center;
    }
    & ~ .central .central__inner .central__btn {
        display: none;
    }
}
 
.central {
    background: url(../images/polygon-1.svg) no-repeat, url(../images/ellipse-white.svg)no-repeat;
    background-size: 69px, 253px;
    background-position: calc((100% - 1140px)/2 - 116px) 411px, calc((100% - 1140px)/2) 373.5px;
    @media (max-width: $r_desk_1600) {
        background-position: calc((100% - 1140px)/2 - 94px) 360px, calc((100% - 1140px)/2) 373.5px;
    }
    @media (max-width: $r_desk_xxl) {
        background-position: calc((100% - 1140px)/2 + 5px) 345px, calc((100% - 1140px)/2 + 100px) 373.5px;
    }
    @media (max-width: $r_desk_xl) {
        background-position: calc((100% - 960px)/2 + 20px) 345px, calc((100% - 960px)/2 + 112px) 373.5px;
    }
    @media (max-width: $r_desk_lg) {
        background-position: calc((100% - 720px)/2 + 20px) 215px, calc((100% - 720px)/2 + 112px) 243.5px;
    }
    @media (max-width: $r_tab_md) {
        background-position: calc((100% - 540px)/2 + 106px) 367px, calc((100% - 540px)/2 + 110px) 153.5px;
    }
     @media (max-width: $r_mob_sm) {
        background: none;
     }
   
    &__container {
        background: url(../images/ellipse-white.svg)no-repeat;  
        background-size: 106px;
        background-position: calc(100% - 55px) calc(100% - 173px);
        @media (max-width: $r_desk_lg) {
            background-position: calc(100% - 53px) calc(100% - 280px);
        }
        @media (max-width: $r_mob_sm) {
            background: none;
 /*           background-size: calc(60px + (106 - 60)*((100vw - 360px)/(576 - 360)));
            background-position: calc(100%/2 + 190px) calc(100% - 280px);  
            background-position: calc((100% - 39px) + ((100% - 46px) - (100% - 39px))*((100vw - 360px)/(576 - 360))), calc((100% - 230px) + ((100% - 280px) - (100% - 230px))*((100vw - 360px)/(576 - 360)));  */
        }
/*        @media (max-width: $r_mob_360) {
            background-size: 60px;
            background-position: calc(100% - 39px) calc(100% - 230px);
        }   */
    }
    &__wrapper {
        flex-direction: column;
        margin-bottom: 166px;
        @media (max-width: $r_desk_lg) {
            margin-bottom: 100px;
        }
        @media (max-width: $r_mob_360) {
            margin-bottom: 68px;
        }
    }
    &__image img {
        width: 100%;
        height: auto;
    }
    &__wrap {
/*        background: url(../images/ellipse-white.svg)no-repeat;
        background-size: 106px;   */
        @media (max-width: $r_mob_sm) {
            background: url(../images/ellipse-white.svg)no-repeat;
            background-size: $bg_1;
            background-position: calc(100% - (-15px + $bg_1/2)) 194px;
            background-position: calc(240px + (478 - 295)*((100vw - 360px)/(576 - 360))) calc(215px + (194 - 215)*((100vw - 360px)/(576 - 360)));
    /*        background-position: calc(100%/2 + 190px) 195px;  
            background-position: calc((100% - calc(0 + $bg_1/2)) + calc((100% - calc(- 15 + $bg_1/2)) - (100% - calc(0 + $bg_1/2))*((100vw - 360px)/(576 - 360))) calc(215px + (195 - 215)*((100vw - 360px)/(576 - 360)));  */  
        }
        @media (max-width: $r_mob_360) {
            background-size: 60px;
    /*        background-position: calc(100%/2 + 115px) 215px;  */
            background-position: calc(100% - (0px + $bg_1/2)) 215px;
        }
    }
    &__content {
        max-width: 799px;
        height: 162px;
        margin: 120px 0 98px;
        @media (max-width: $r_desk_lg) {
            margin: 10px 0 66px;
        }
        @media (max-width: $r_tab_md) {
            margin: 10px 0 140px;
        }
        @media (max-width: $r_mob_sm) {
            margin: 0;
            padding: 38px 0 36px;
        }
         @media (max-width: $r_mob_sm) {
            background: url(../images/polygon-1.svg) no-repeat, url(../images/ellipse-white.svg)no-repeat;
            background-size: calc(((100vw - 360px)/(576 - 360)) * (60 - 29) + 29px), calc(((100vw - 360px)/(576 - 360)) * (200 - 135) + 135px);
            background-position: calc((100% - 360px)/2 + 26px) calc(156px + (170 - 156)*((100vw - 360px)/(576 - 360))), calc((100% - 360px)/2 + 25px) calc(28px + (5 - 28)*((100vw - 360px)/(576 - 360)));  
        }
        @media (max-width: $r_mob_360) {
            background-size: 29px, 135px;
            background-position: calc((100% - 360px)/2 + 26px) 156px, calc((100% - 360px)/2 + 25px) 28px;
        }
    }
    &__subtitle {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 150%;
        color: $black;
        @media (max-width: $r_mob_360) {
            font-size: 18px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        @media (max-width: $r_mob_360) {
            margin-bottom: 33px;
        }
    }
    &__btn {
        position: relative;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 150%;
        padding-right: 3rem;
        border: none;
        background-color: transparent;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../images/arrow-1.svg);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 1.6rem 1.2rem;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -9px;
            background-color: $black;
            opacity: 0;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
        }
        &:hover {
            cursor: pointer;
            &::after {
                opacity: 1;
            }
        }
    }
    &__socials {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2.7rem;
        @media (max-width: $r_mob_360) {
            gap: 10px;
        }
    }
    &__social {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
        text-transform: capitalize;
        color: $black;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover {
            color: $red;
        }
    }
    &__line {
        width: 1px;
        height: 2.4rem;
        background-color: $black;
        opacity: 0.2;
    }
    &__skills {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        margin-top: 52px;
        @media (max-width: $r_desk_lg) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $r_mob_360) {
            margin-top: 34px;
            gap: 31px 23px;
        }
    }
    &__skill {
        height: 81px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        @media (max-width: $r_mob_360) {
            height: 63px;
        }
        &:nth-child(odd) {
/*            flex-basis: 220px;  */
            @media (max-width: $r_mob_sm) {
                width: calc(((100vw - 360px)/(576 - 360)) * (266 - 142) + 142px);
            }
            @media (max-width: $r_mob_360) {
                width: 142px;
            }
        }
        &:nth-child(even) {
/*            flex-basis: 270px;  */
            @media (max-width: $r_mob_sm) {
                width: calc(((100vw - 360px)/(576 - 360)) * (266 - 170) + 170px);
            }
            @media (max-width: $r_mob_360) {
                width: 170px;
            }
        }  
    }
}
.about {
    &__wrapper {
        height: auto;
        flex-direction: column;
        align-items: end;
        margin-bottom: 105px;
        @media (max-width: $r_desk_lg) {
            margin-bottom: 26px;
        }
        @media (max-width: $r_mob_360) {
            margin-bottom: 21px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        @media (max-width: $r_desk_lg) {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__desc {
        flex-basis: 560px;
        @media (max-width: $r_desk_lg) {
            flex-basis: 200px;
        }
        @media (max-width: $r_mob_360) {
            font-size: 16px;
            flex-basis: 100px;
        }
    }
    &__advantages {
        width: 560px;
        min-height: 337px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        @media (max-width: $r_tab_md) {
            width: 100%;
        }
        @media (max-width: $r_mob_360) {
            height: 250px;
            min-height: auto;
        }
    }
    &__advantage {
        height: 107px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        @media (max-width: $r_mob_360) {
            height: 92px;
        }
        &:nth-child(odd) {
            flex-basis: 220px;
            @media (max-width: $r_mob_sm) {
                flex-basis: calc(((100vw - 360px)/(576 - 360)) * (220 - 145) + 145px);
            }
            @media (max-width: $r_mob_360) {
                flex-basis: 145px;
            }
        }
        &:nth-child(even) {
            flex-basis: 270px;
            @media (max-width: $r_mob_sm) {
                flex-basis: calc(((100vw - 360px)/(576 - 360)) * (270 - 170) + 170px);
            }
            @media (max-width: $r_mob_360) {
                flex-basis: 170px;
            }
        }
    }
    &__line_horizontal {
        margin: 59px 0 64px;
        @media (max-width: $r_mob_360) {
            margin: 35px 0 42px;
        }
    }
}
.advantage {
    &__title {
        font-size: 1.3rem;
    }
    &__desc {
        @media (max-width: $r_mob_360) {
            font-size: 10px;
        }
    }
}
.stages {
    &__wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
        margin-bottom: 86px;
        @media (max-width: $r_desk_lg) {
            margin-bottom: 26px;
        }
        @media (max-width: $r_mob_360) {
            margin-bottom: 44px;
            gap: 0;
        }
    }
    &__line_horizontal {
        @media (max-width: $r_mob_360) {
            margin: 0;
        }
    }
    &__list {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_mob_360) {
            height: 83px;
            margin: 0;
        }
    }
    &__term {
        @media (max-width: $r_desk_xl) {
            font-size: 2.4rem;
        }
        @media (max-width: $r_desk_lg) {
            flex-basis: 40%;
        }
        @media (max-width: $r_mob_sm) {
            flex-basis: 42%;
            font-size: 2.13rem;
        }
        @media (max-width: $r_mob_360) {
            flex-basis: 43%;
            font-size: 16px;
        }
    }
    &__term span {
        word-spacing: 3.2rem;
        @media (max-width: $r_desk_lg) {
            display: block;
        }
        @media (max-width: $r_desk_lg) {
            word-spacing: 0.2rem;
        }
    }
    &__definition {
        flex-basis: 560px;
        @media (max-width: $r_desk_lg) {
            flex-basis: 450px;
        }
        @media (max-width: $r_desk_lg) {
            flex-basis: 50%;
        }
    }
}
.main {
    position: relative;
    &__gradient {
        position: absolute;
        left: 0;
        right: 0;
        top: 320px;
        bottom: 0;
        background: linear-gradient(180deg, #e7e6e6 0%, #e7e6e6 100%);
        z-index: -1;
    }    
}
.portfolio {
    
    &__wrapper {
        background: url(../images/ellipse-white.svg) no-repeat;
        background-size: 465px;
        background-position-x: calc(100% - 330px);
        flex-direction: column;
        padding: 90px 0 165px;
        @media (max-width: $r_desk_xl) {
            padding: 70px 0 100px;
            background-size: 392px;
            background-position-x: calc(100% - 278px);
        }
        @media (max-width: $r_desk_lg){
            background-size: 294px;
            background-position-x: calc(100% - 208px);
        }
        @media (max-width: $r_tab_md){
            background-size: 220px;
            background-position-x: calc(100% - 156px);
        }
        @media (max-width: $r_mob_sm){
            background-size: calc(((100vw - 360px)/(576 - 360)) * (220 - 197) + 197px);
            background-position-x: calc(100% - (((100vw - 360px)/(576 - 360)) * (156 - 0) + 0px));
        }
        @media (max-width: $r_mob_360) {
            padding: 35px 0 70px;
            background-size: 197px;
            background-position-x: 100%;
        }
    }
    &__sites {
        width: 100%;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        @media (max-width: $r_desk_xl) {
            margin-top: 120px;
        }
        @media (max-width: $r_desk_lg) {
            margin-top: 70px;
        }
    }
    &__item {
        width: 100%;
        padding: 29px 0;
        border-bottom: 1px solid $black;
        @media (max-width: $r_mob_360) {
            padding: 40px 0 36px;
        }
    }
    &__site {
        width: 100%;
        min-height: 375px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_desk_lg) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 45px;
        }
        @media (max-width: $r_mob_360) {
            min-height: 387px;
        }
        & a {
            order: 2;
            @media (max-width: $r_desk_lg) {
                width: 100%;
            }
        }
        & figcaption {
            order: 1;
            flex-basis: 340px;
            @media (max-width: $r_desk_lg) {
                flex-basis: auto;
            }
        }
    }
    &__image {
        @media (max-width: $r_desk_lg) {
            display: block;
            width: 100%;
        }
        & > img {
            @media (max-width: $r_desk_lg) {
                width: 100%;
                height: auto;
            }
        }
    }
    &__title {
        letter-spacing: 0;
    }
}
.site {
    &__content {
        width: 100%;
        height: 238px;
        @media (max-width: $r_mob_360) {
            height: 157px;
        }
    }
    &__title {
        text-transform: none;
        letter-spacing: 0;
    }
    &__items {
        margin: 40px 0;
        @media (max-width: $r_mob_360) {
            margin: 21px 0;
        }
    }
    &__item {
        margin: 1rem 0;
    }
}
.profit {
    &__wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 146px;
        @media (max-width: $r_mob_360) {
            margin-bottom: 31px;
        }
    }
    &__desc {
        max-width: 870px;
        @media (max-width: $r_mob_360) {
            font-size: 16px;
        }
    }
    &__line_horizontal {
        margin: 75px 0 62px;
        @media (max-width: $r_mob_360) {
            margin: 40px 0 18px;
        }
    }
    &__benefits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 78px 64px;
        @media (max-width: $r_tab_md) {
          grid-template-columns: repeat(2, 1fr);  
        }
        @media (max-width: $r_mob_sm) {
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }
        @media (max-width: $r_mob_360) {
            gap: 31.5px;
            margin: 20px 0;
        }
    }
    &__benefit {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 40px;
        @media (max-width: $r_mob_360) {
            
        }
    }
}
.benefit {
    &__title {
        text-transform: none;
        margin-bottom: 8px;
        letter-spacing: 0;
        @media (max-width: $r_mob_360) {
            margin-bottom: 10px;
        }
    }
    &__content span {
        display: block;
        @media (max-width: $r_mob_sm) {
            display: inline-block;
        }
    }
    & img {
        @media (max-width: $r_mob_360) {
            width: 30px;
            height: auto;
        }
    }
}
.skills {
    &__wrapper {
        margin-bottom: 80px;
        @media (max-width: $r_tab_md) {
            margin-bottom: 5px;
        }
    }
    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__skill {
        height: 148px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba($black, 0.3);
        opacity: 0.3;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        @media (max-width: $r_tab_md) {
            height: auto;
            padding: 20px;
        }
        @media (max-width: $r_mob_sm) {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
            opacity: 1;
            height: calc(((100vw - 360px)/(576 - 360)) * (126 - 44) + 44px);
            padding: 0;    
        }
       & > img {
            @media (max-width: $r_tab_md) {
                width: 50%;
            }
            @media (max-width: $r_mob_sm) {
                width: calc(((100vw - 360px)/(576 - 360)) * (50 - 25) + 25%);
            }
            @media (max-width: $r_mob_360) {
                width: 25%;
                height: auto;
            }
        }
}
}
.skill {
    &:hover {
        opacity: 1;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        z-index: 9999;
        @media (max-width: $r_mob_sm) {
            pointer-events: none;
        }
    }
    &:hover &__popup {
        opacity: 1;
        z-index: 1;
        height: 130.5px;
        bottom: -108px;
        @media (max-width: $r_mob_sm) {
            pointer-events: none;
        }
    }
    &__popup {
        width: 232px;
        height: 0;
        padding: 30px 20px 30px;
        position: absolute;
        background-image: url(../images/popup-skill.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        text-align: center;
        box-sizing: border-box;
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        @media (max-width: $r_mob_sm) {
            display: none;
        }
    }
    &__title {
        font-weight: 500;
        line-height: 150%;
        color: $black;
        margin: 0;
    }
    &__desc {
        font-weight: 500;
        line-height: 150%;
        color: rgba($black, 0.8);
        @media (max-width: $r_mob_sm) {
        font-size: 1.33rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 10px;
        }
    }
}
.rates {
    background: url(../images/ellipse-white.svg) no-repeat;
    background-size: 140px;
    background-position: calc((100% - 1140px)/2) 32px;
    @media (max-width: $r_desk_xxl) {
        background-position: calc((100% - 1140px)/2 + 45px) 32px;
    }
    @media (max-width: $r_desk_xl) {
        background-position: calc((100% - 720px)/2 + 60px) 32px;
    }
    @media (max-width: $r_tab_md) {
        background-position: calc((100% - 540px)/2) 0;
    }
    @media (max-width: $r_mob_sm) {
         background-size: 138px;
        background-position: calc((100% - calc(360px + (576 - 360)*((100vw - 360px)/(576 - 360))))/2 - calc(-5px + (0 + 5)*((100vw - 360px)/(576 - 360)))) 6px;
    }
    @media (max-width: $r_mob_360) {
         background-size: 138px;
        background-position: calc((100% - 360px)/2 - 5px) 6px;
    }
    &__wrapper {
        margin-bottom: 21px;
        padding-top: 80px;
        flex-direction: column;
/*        background: url(../images/ellipse-white.svg) no-repeat, url(../images/ellipse-white.svg) no-repeat;
        background-size: 90px, 90px;
        background-position: calc(100%/2 + 10px) 560px, calc(100%/2 + 10px) 1285px;  */
        @media (max-width: $r_tab_md) {
            padding-top: 50px;
            margin-bottom: 30px;
/*            background-position: calc(100%/2 + 10px) 620px, calc(100%/2 + 10px) 1350px;  */
        }
        @media (max-width: $r_mob_sm) {
 /*           padding-top: 50px;
            margin-bottom: 30px;   */
/*            background-size: calc(((100vw - 360px)/(576 - 360)) * (90 - 40) + 40px);
            background-position: calc(100%/2 + 3px) 580px, calc(100%/2 + 10px) 1300px;  */
/*            background-position-x: calc(100%/2 + 3px), calc(100%/2 + 3px);
            background-position-y: calc(413px + (580 - 413)*((100vw - 360px)/(576 - 360))), calc(((100vw - 360px)/(576 - 360)) * (1300 - 910) + 910px);  */
        }
        @media (max-width: $r_mob_360) {
            padding-top: 65px;
            margin-bottom: 22px;
/*            background-position: calc(100%/2 + 10px) 620px, calc(100%/2 + 10px) 1350px;  */
        }
    }
    &__content {
        width: 100%;
        min-height: 248px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        @media (max-width: $r_tab_md) {
            flex-direction: column;
            gap: 20px;
        }
        @media (max-width: $r_mob_360) {
            min-height: auto;
            height: 166px;
        }
    }
    &__desc {
        flex-basis: 560px;
        @media (max-width: $r_tab_md) {
            flex-basis: 260px;
        }
        @media (max-width: $r_mob_360) {
            font-size: 16px;
        }
    }
    &__line_horizontal {
        margin: 0;
    }
    &__list {
        margin: 0;
    }
    &__rate {
        width: 100%;
        height: 246px;
        margin: 37px 0;
        padding: 22px 0 19px;
        display: flex;
        justify-content: start;
        align-items: stretch;
        gap: 0 194px;
        @media (max-width: $r_tab_md) {
            height: auto;
            justify-content: space-between;
            gap: 0;
        }
        @media (max-width: $r_mob_360) {
            height: 182px;
            margin: 17px 0;
            padding: 22px 0 11px;
/*            margin: 39px 0 29px;  */
        }
        &:first-of-type {
            background: url(../images/ellipse-white.svg) no-repeat;
            background-size: 90px;
            background-position: calc(100%/2 + 10px) 96%;
            @media (max-width: $r_desk_xl) {
                background-position: calc(100%/2 + 110px) 96%;
            }
            @media (max-width: $r_tab_md) {
                background-position: calc(100%/2 + 0px) 96%;
            }
            @media (max-width: $r_mob_sm) {
                background-size: calc(((100vw - 360px)/(576 - 360)) * (90 - 40) + 40px);
                background-position: calc(100%/2 + calc(((100vw - 360px)/(576 - 360)) * (10 - 0) + 0px)) calc(((100vw - 360px)/(576 - 360)) * (96 - 92) + 92%);
            }
            @media (max-width: $r_mob_360) {
                background-size: 40px;
                background-position: calc(100%/2 + 0px) 92%;
            }
        }
        &:last-of-type {
            background: url(../images/ellipse-white.svg) no-repeat;
            background-size: 90px;
            background-position: calc(100%/2 + 10px) 96%;
            @media (max-width: $r_desk_xl) {
                background-position: calc(100%/2 + 110px) 96%;
            }
            @media (max-width: $r_desk_lg) {
                height: 285px;
            }
            @media (max-width: $r_tab_md) {
                background-position: calc(100%/2 + 0px) 96%;
            }
            @media (max-width: $r_mob_sm) {
                background-size: calc(((100vw - 360px)/(576 - 360)) * (90 - 40) + 40px);
                background-position: calc(100%/2 + calc(((100vw - 360px)/(576 - 360)) * (10 - 0) + 0px)) calc(((100vw - 360px)/(576 - 360)) * (96 - 92) + 92%);
            }
            @media (max-width: $r_mob_360) {
                background-size: 40px;
                background-position: calc(100%/2 + 0px) 92%;
            }
        }
    }
}
.rate {
    &__description {
        flex-basis: 385px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-bottom: 1.5rem;
        @media (max-width: $r_tab_md) {
            flex-basis: 40%;
        }
        @media (max-width: $r_mob_360) {
            padding-bottom: 1rem;
        }
    }
    &__scroll {
        flex-basis: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        @media (max-width: $r_tab_md) {
            flex-basis: 50%;
        }
        @media (max-width: $r_mob_360) {
            flex-basis: 51%;
        }
    }
    &__list {
        list-style-type: disc;
        list-style-position: inside;
    }
    &__object {
        margin-bottom: 2.2rem;
        opacity: 1;
        @media (max-width: $r_mob_360) {
            font-size: 16px;
            margin-bottom: 2.6rem;
        }
    }
    &__desc {
        font-weight: 500;
        @media (max-width: $r_mob_360) {
            font-size: 10px;
        }
        & span {
            @media (max-width: $r_mob_360) {
                display: block;
            }
        }
    }
    &__title {
        letter-spacing: 0;
        text-transform: none;
        margin-bottom: 2.2rem;
        @media (max-width: $r_mob_360) {
            margin-bottom: 2.6rem;
        }
    }
    &__item {
        line-height: 200%;
    }
    &__price {
        font-size: 4.2rem;
        line-height: 150%;
        font-weight: 700;
        @media (max-width: $r_tab_md) {
            font-size: 3.2rem;
            margin-bottom: 5px;
        }
        @media (max-width: $r_mob_360) {
            margin-top: auto;
            font-size: 22px;
        }
    }
}
.feedback {
    background: url(../images/polygon-1.svg) no-repeat, url(../images/ellipse-white.svg)no-repeat;
    background-size: 69px, 300px;
    background-position: calc((100% - 1140px)/2 - 143px) 121px, calc((100% - 1140px)/2) 69.5px;
    @media (max-width: $r_desk_1600) {
        background-position: calc((100% - 1140px)/2 - 90px) 5px, calc((100% - 1140px)/2 + 25px) 14.5px;
    }
    @media (max-width: $r_desk_xxl) {
        background-position: calc((100% - 1140px)/2 + 10px) 5px, calc((100% - 1140px)/2 + 125px) 14.5px;
    }
    @media (max-width: $r_desk_xl) {
        background-position: calc((100% - 960px)/2 + 20px) 5px, calc((100% - 960px)/2 + 140px) 14.5px;
    }
    @media (max-width: $r_desk_lg) {
        background-position: calc((100% - 720px)/2 + 20px) 5px, calc((100% - 720px)/2 + 140px) 14.5px;
    }
    @media (max-width: $r_tab_md) {
        background-position: calc((100% - 540px)/2 + 115px) 5px, calc((100% - 540px)/2) 14.5px;
    }
    @media (max-width: $r_mob_360) {
        background-size: 28px, 190px;
        background-position: calc((100% - 360px)/2 + 120px) 11px, calc((100% - 360px)/2 + 50px) 0;
    }
    &__wrapper {
        padding-top: 100px;
        flex-direction: column;
        @media (max-width: $r_mob_360) {
            padding-top: 56px;
        }
    }
    &__content {
        width: 100%;
        min-height: 226px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        @media (max-width: $r_tab_md) {
            flex-direction: column;
            gap: 20px;
        }
        @media (max-width: $r_mob_360) {
            min-height: auto;
            margin-bottom: 31px;
        }
    }
    &__desc {
        flex-basis: 560px;
        @media (max-width: $r_tab_md) {
            flex-basis: 220px;
        }
        @media (max-width: $r_mob_360) {
            flex-basis: auto;
            font-size: 16px;
        }
    }
    &__interaction {
        width: 100%;
        min-height: 500px;
        padding: 59px 0 108px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        @media (max-width: $r_tab_md) {
            flex-direction: column;
        }
        @media (max-width: $r_tab_md) {
            padding: 59px 0 50px;
        }
        @media (max-width: $r_mob_360) {
            padding: 37px 0 40px;
            min-height: auto;
            height: 440px;
        }
    }
    &__socials {
        margin-bottom: 22px;
        display: flex;
        justify-content: start;
        align-items: end;
        gap: 27px;
        @media (max-width: $r_desk_lg) {
            gap: 12px;
        }
        @media (max-width: $r_tab_md) {
            align-self: center;
            order: 2;
        }
         @media (max-width: $r_mob_360) {
            gap: 10px;
         }
    }
    &__social a {
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        opacity: 1;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover {
            color: $red;
        }
    }
    &__line {
        @media (max-width: $r_tab_md) {
            display: flex;
        }
         @media (max-width: $r_mob_360) {
            height: 16px;
         }
    }
    &__form {
        flex-basis: 560px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        @media (max-width: $r_desk_lg) {
            flex-basis: 450px;
        }
        @media (max-width: $r_tab_md) {
            flex-basis: 400px;
        }
        & label {
            margin-bottom: 1rem;
        }
        & input {
            width: 100%;
            height: 65px;
            margin-bottom: 20px;
            padding: 1.9rem;
            border: none;
            background-color: rgba($black, 0.05);
            box-sizing: border-box;
            &::placeholder {
                opacity: 0.2;
            }
            @media (max-width: $r_mob_360) {
                margin-bottom: 16px;
                height: 60px;
            }
        }
         & input[type=submit] {
            width: 100%;
            height: 65px;
            border: none;
            background-color: $red;
            opacity: 1;
            color: $white;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            @media (max-width: $r_mob_360) {
                height: 57px;
            }
        }
    }
}
.select {
    width: 100%;
	height: 65px;
	position: relative;
	padding: 0 19px;
	border: none;
	background-color: rgba(1, 1, 1, 0.05);
    cursor: pointer;
    margin-bottom: 43px;
    box-sizing: border-box;
    @media (max-width: $r_mob_360) {
        height: 60px;
        margin-bottom: 27px;
    }
    &[open] {
        background-color: transparent;
    }
    &__title {
        line-height: 65px;
    }
    & > &__title {
        list-style: none;
    }
    & &__title::-webkit-details-marker {
        display: none;
    }
    &__title::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/arrow-select.svg);
        background-repeat: no-repeat;
        background-size: 12px 7px;
        background-position: 95% center;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        @media (max-width: $r_mob_360) {
            background-position: 92.5%;
        }
    }
    &[open] &__title::after {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
    }
    &__list {
        width: auto;
        margin: -24px -19px 0;
        padding-left: 19px;
        background-color: rgba($black, 0.05);
        padding-bottom: 40px;
        @media (max-width: $r_mob_360) {
            padding-bottom: 20px;
        } 
    }
    &__content {
        padding: 15px 0;
        color: rgba($black, 0.4);
        @media (max-width: $r_mob_360) {
            padding: 10px 0;
        }
        &:hover {
            color: $black;
            cursor: pointer;
        }
    }
    &[open] {
        & ~ input[type=submit] {
        opacity: 0;
        z-index: -10;
        }
    } 
}
.content__active {
    display: none;
}
.footer {
    &__wrapper {
        width: 100%;
        height: 180px;
        padding-top: 8px;
        flex-direction: column;
        justify-content: space-evenly;
        @media (max-width: $r_mob_360) {
            padding-top: 37px;
        }
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_tab_md) {
            flex-direction: column;
            height: 80px;
        }
    }
    &__menu {
        @media (max-width: $r_tab_md) {
            order: 2;
        }
        @media (max-width: $r_mob_360) {
            
        }
    }
    &__information {
        @media (max-width: $r_tab_md) {
            width: 300px;
            order: 1;
        }
    }
    &__post {
        @media (max-width: $r_tab_md) {
            display: flex;
        }
    }
    &__line {
        @media (max-width: $r_tab_md) {
            display: flex;
        }
    }
    &__inform {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_tab_md) {
            flex-direction: column;
            gap: 16px;
        }
        @media (max-width: $r_mob_360) {
            height: 40px;
            padding-top: 20px;
        }
        & p {
            color: rgba($black, 0.4);
            & a {
                color: rgba($black, 0.4);
                &:hover {
                    color: $black;
                }
            }
        }
    }
}
.dropdown {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    max-width: 600px;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: $grey;
    z-index: 100;
    &__container {
        width: 100%;
    }
    &__wrapper {
        position: relative;
        width: 100%;
        min-height: 572px;
        padding-top: 15px;
    }
    &__content {
        min-height: auto;
        height: 126px;
        margin-top: 35px;
        flex-direction: column;
        align-items: center;
    }
    &__desc {
        max-width: 370px;
        text-align: center;
    }
    &__close {
        position: absolute;
        right: 0;
        top: 15px;
        cursor: pointer;
    }
}
#dropdown:checked {
    ~ .dropdown {
        display: block;
    }
    + .background {
        background-color: rgba($black, 0.4);
    }
} 
    