
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-inter: "Inter", sans-serif;

$black: #010101;
$white: #ffffff;
$red: #D40000;
$grey: #F3F2F0;

$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_sm: 576px;
$r_tab_md: 768px;
$r_desk_lg: 992px;
$r_desk_xl: 1200px;
$r_desk_xxl: 1400px;
$r_desk_1600: 1600px;


html {
    font-size: 10px;
}

body {
    max-width: 1920px;
    font-family: $font-inter;
    font-size: 1.6rem;
    color: $black;
    background-color: $grey;
    overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.block {
    display: block;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_desk_xl) {
        max-width: 960px;
    }
    @media (max-width: $r_desk_lg) {
        max-width: 720px;
    }
    @media (max-width: $r_tab_md) {
        max-width: 540px;
    }
    @media (max-width: $r_mob_sm) {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
}
.wrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
}
.title {
     font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $black;
    margin: 0;
}
h2 {
    font-size: 7.4rem;
   
}
h3 {
    font-size: 2.8rem;
    line-height: 150%;
}
h4 {
    font-size: 1.6rem;
    line-height: 150%;
}
h5 {
    font-size: 1rem;
    line-height: 150%;
}
.text {
    font-weight: 400;
    line-height: 150%;
    color: $black;
    opacity: 0.8;
    margin: 0;
}
.text-10 {
    font-size: 1rem;
}
.text-14 {
    font-size: 1.4rem;
}
.text-16 {
    font-size: 1.6rem;
}
.text-28 {
    font-size: 2.8rem;
}
.line_horizontal {
    width: 100%;
    border: 1px solid $black;
}

.header {
    &__wrapper {
        min-height: 24px;
        margin: 26px 0 47px;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 28px;
        &__item a {
            font-size: 1.4rem;
            text-decoration: none;
            color: $black;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover {
                color: $red;
            }
        }
    }
    &__information {
        width: 285px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a {
            font-size: 1.4rem;
            text-decoration: none;
            color: $black;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            &:hover {
                color: $red;
            }
        }
    }
    &__line {
        width: 1px;
        height: 24px;
        background-color: $black;
        opacity: 0.2;
    }
}
.central {
    background: url(../images/polygon-1.svg) no-repeat, url(../images/ellipse-white.svg)no-repeat;
    background-size: 69px, 253px;
    background-position: calc((100% - 1140px)/2 - 116px) 411px, calc((100% - 1140px)/2) 373.5px;
    @media (max-width: $r_desk_xxl) {
        background-position: calc((100% - 1140px)/2 - 90px) 411px, calc((100% - 1140px)/2) 373.5px;
    }
    &__container {
        background: url(../images/ellipse-white.svg)no-repeat;
        background-size: 106px;
        background-position: calc(100% - 50px) calc(100% - 176px);
    }
    &__wrapper {
        flex-direction: column;
        margin-bottom: 166px;
    }
    &__image img {
        width: 100%;
        height: auto;
    }
    &__content {
        max-width: 799px;
        height: 162px;
        margin: 90px 0 126px;
    }
    &__subtitle {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 150%;
        color: $black;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    &__btn {
        position: relative;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 150%;
        padding-right: 3rem;
        border: none;
        background-color: transparent;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../images/arrow-1.svg);
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 1.6rem 1.2rem;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -9px;
            background-color: $black;
            opacity: 0;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
        }
        &:hover {
            cursor: pointer;
            &::after {
                opacity: 1;
            }
        }
    }
    &__socials {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2.7rem;
    }
    &__social {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
        text-transform: capitalize;
        color: $black;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover {
            color: $red;
        }
    }
    &__line {
        width: 1px;
        height: 2.4rem;
        background-color: $black;
        opacity: 0.2;
    }
    &__skills {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        margin-top: 52px;
    }
    &__skill {
        height: 81px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
}
.about {
    &__wrapper {
        height: auto;
        flex-direction: column;
        align-items: end;
        margin-bottom: 105px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__desc {
        flex-basis: 560px;
    }
    &__advantages {
        width: 560px;
        height: 337px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
    &__advantage {
        height: 107px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        &:nth-child(odd) {
            flex-basis: 220px;
        }
        &:nth-child(even) {
            flex-basis: 270px;
        }
    }
    &__line_horizontal {
        margin: 57px 0 62px;
    }
}
.advantage {
    &__title {
        font-size: 1.3rem;
    }
}
.stages {
    &__wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
        margin-bottom: 86px;
    }
    &__list {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__term span {
        word-spacing: 3.2rem;
    }
    &__definition {
        flex-basis: 560px;
    }
}
.main {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: inherit;
}
.portfolio {
    &__wrapper {
        flex-direction: column;
        padding: 90px 0 165px;
    }
    &__sites {
        width: 100%;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    &__item {
        width: 100%;
        padding: 29px 0;
        border-bottom: 1px solid $black;
    }
    &__site {
        width: 100%;
        height: 375px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a {
            order: 2;
        }
        & figcaption {
            order: 1;
            flex-basis: 340px;
        }
    }
    &__title {
        letter-spacing: 0;
    }
}
.site {
    &__content {
        width: 100%;
        height: 238px;
    }
    &__title {
        text-transform: none;
        letter-spacing: 0;
    }
    &__items {
        margin: 40px 0;
    }
    &__item {
        margin: 1rem 0;
    }
}
.profit {
    &__wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 145px;
    }
    &__desc {
        max-width: 870px;
    }
    &__line_horizontal {
        margin: 78px 0 60px;
    }
    &__benefits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 78px 64px;
    }
    &__benefit {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 40px;
    }
}
.benefit {
    &__title {
        text-transform: none;
        margin-bottom: 8px;
        letter-spacing: 0;
    }
}
.skills {
    &__wrapper {
        margin-bottom: 80px;
    }
    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__skill {
        height: 148px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba($black, 0.3);
        opacity: 0.3;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
}
.skill {
    &:hover {
        opacity: 1;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
    &:hover &__popup {
        opacity: 1;
        z-index: 1;
        height: 130.5px;
        bottom: -108px;
    }
    &__popup {
        width: 232px;
        height: 0;
        padding: 30px 20px 30px;
        position: absolute;
        background-image: url(../images/popup-skill.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        text-align: center;
        box-sizing: border-box;
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    &__title {
        font-weight: 500;
        line-height: 150%;
        color: $white;
        margin: 0;
    }
    &__desc {
        font-weight: 500;
        line-height: 150%;
        color: $white;
        opacity: 0.8;
    }
}
.rates {
    background: url(../images/ellipse-white.svg) no-repeat;
    background-size: 140px;
    background-position: calc((100% - 1140px)/2) 32px;
    &__wrapper {
        padding-top: 80px;
        flex-direction: column;
        background: url(../images/ellipse-white.svg) no-repeat, url(../images/ellipse-white.svg) no-repeat;
        background-size: 90px, 90px;
        background-position: calc(100%/2 + 10px) 560px, calc(100%/2 + 10px) 1285px;
    }
    &__content {
        width: 100%;
        min-height: 248px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__desc {
        flex-basis: 560px;
    }
    &__line_horizontal {
        margin: 0;
    }
    &__list {
        margin: 0;
    }
    &__rate {
        width: 100%;
        height: 246px;
        margin: 58px 0;
        display: flex;
        justify-content: start;
        align-items: stretch;
        gap: 0 194px;
    }
}
.rate {
    &__description {
        flex-basis: 385px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-bottom: 1.5rem;
    }
    &__scroll {
        flex-basis: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    &__list {
        list-style-type: disc;
        list-style-position: inside;
    }
    &__object {
        margin-bottom: 2.2rem;
        opacity: 1;
    }
    &__desc {
        font-weight: 500;
    }
    &__title {
        letter-spacing: 0;
        text-transform: none;
        margin-bottom: 2.2rem;
    }
    &__item {
        line-height: 200%;
    }
    &__price {
        font-size: 4.2rem;
        line-height: 150%;
        font-weight: 700;
    }
}